<h1>Editing Project</h1>

<%= render 'form' %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>

<%= form_for @project do |f| %>
<%= f.file_field :icon %>
<%= f.submit "update" %>
<% end %>