<!-- features list -->
    
    <div class="container-fluid" id="cnt1">
        <div class="row-fluid feature">
            <div class="col-md-2">
                <!-- first feature -->
                <div class="carousel-linked-projects pagination">
                    <div class="active">
            
                        <img src="http://lorempixel.com/200/200/city/1/" alt="Texto Alternativo" class="img-circle img-thumbnail">
                        <h2>Project 1</h2>
                        <p>
                           P1 descrip                    
                        </p>
                        <a href="#1" data-project='1' class="btn btn-success lower">Deets</a>
                    
                    </div>
                   
                    <!-- second feature -->
                     <div>
                    
                        <img src="http://lorempixel.com/200/200/city/2/" alt="Texto Alternativo" class="img-circle img-thumbnail">
                        <h2>Project 2</h2>
                        <p>
                           P2 descript     
                        </p>
                        <a href="#2" data-project='2' class="btn btn-success lower">Deets</a>
                    
                    </div>
                    <!-- third feature -->
                    <div>
                    
                        <img src="http://lorempixel.com/200/200/city/3/" alt="Texto Alternativo" class="img-circle img-thumbnail">
                        <h2>Project 3</h2>
                        <p>
                          P3 descrip       
                        </p>
                        <a href="#3" data-project='3' class="btn btn-success lower">Deets</a>
                
                    </div>
                </div>
          
            </div>
         </div>

            <!-- begin carousel -->
            <div class="col-md-9 col-md-offset-1">
                <!-- carousel for pictures -->

                    <section id="carousel" class="carousel-test">
                    <div class="row">
                            <!-- <div class="col-md-8" "col-md-offset-4"> -->
                        <div id="allSlides" style="display:none;">
                            <div class="item" data-project='1'>
                                <%= image_tag("basement-1.jpg") %>
                            </div>
                            <div class="item" data-project='1'>
                               <%= image_tag("basement-2.jpg") %>
                            </div>
                            <div class="item" data-project='1'>
                               <%= image_tag("basement-3.jpg") %>
                            </div>
                            <div class="item" data-project='2'>
                                <%= image_tag("portfolio-1.jpg") %>
                            </div>
                            <div class="item" data-project='2'>
                               <%= image_tag("portfolio-2.jpg") %>
                            </div>
                            <div class="item" data-project='2'>
                               <%= image_tag("portfolio-3.jpg") %>
                            </div>
                            <div class="item" data-project='3'>
                                <%= image_tag("Wall-1.jpg") %>
                            </div>
                            <div class="item" data-project='3'>
                                <%= image_tag("Wall-2.jpg") %>
                            </div>
                            <div class="item" data-project='3'>
                                <%= image_tag("Wall-3.jpg") %>
                            </div>
                        </div>

    
                        <!-- controls moved to side projects -->
                       <!--  <ol class="carousel-linked-projects pagination">
                          <li class="active"><a href="#1" data-project='1'>1</a></li>
                          <li><a href="#2" data-project='2'>2</a></li>
                          <li><a href="#3" data-project='3'>3</a></li>
                        </ol> -->

                    <div id="myCarousel" class="carousel slide">
                          <!-- Carousel items -->           
                          <div class="carousel-inner">
                            <div class="active item" data-project='1'>
                                <%= image_tag("basement-1.jpg") %>
                            </div>
                            <div class="item" data-project='1'>
                                <%= image_tag("basement-2.jpg") %>
                            </div>
                            <div class="item" data-project='1'>
                                <%= image_tag("basement-3.jpg") %>
                            </div>
                          </div>
                          <!-- Carousel nav -->
                         <!--  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a> -->
                    </div>

                        <!-- LINKED NAV -->
                        <ol class="carousel-linked-nav pagination">
                          <li class="active"><a href="#1">1</a></li>
                          <li><a href="#2">2</a></li>
                          <li><a href="#3">3</a></li>
                        </ol>




                    </div>
            </div>
                    </section>  


                <!-- end carousel pictures -->



            </div>
            <!-- end carousel -->

           
        </div>
    </div>



    <!-- end features list -->

